---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Buttons from "../../components/Buttons.astro";

export async function getStaticPaths() {
  const data = await fetch("https://fxxjknteqkhsjhtimjjc.supabase.co/rest/v1/eksamenscase?", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ4eGprbnRlcWtoc2podGltampjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU5NDAyODcsImV4cCI6MjAzMTUxNjI4N30.m9y52VCukhWnKC_k4PCgWlz1mVReietqdz4j0V_C9sg",
    },
  }).then((response) => response.json());

  return data.map((shop) => {
    return {
      params: { slug: shop.slug },
      props: { myData: shop },
    };
  });
}

const { myData } = Astro.props;
console.log(myData);
---

<Layout title="something">
  <div class="content">
    <!-- Billede sektion -->
    <div class="image-section">
      <img src={myData.Image} alt="Product Image" />
    </div>

    <!-- Tekst sektion -->
    <div class="text-section">
      <div class="first-line">
        <h1>{myData.Name}</h1>
        <h1>DKK {myData.Price} ,-</h1>
      </div>
      <div class="second-line">
        <h3>{myData.Format} cm.</h3>
        <Buttons variant="primary" size="small">Buy now</Buttons>
      </div>
      <h4>Description</h4>
      <p>{myData.Description}</p>
    </div>
  </div>
  <Footer />
</Layout>

<script>
  // Vælg knappen
  const buyButton = document.querySelector(".buy-button");

  // Tilføj eventlistener til knappen
  buyButton.addEventListener("click", function () {
    // Håndter købsklik
    alert("Tak for dit køb!");
  });
</script>

<style>
  .first-line,
  .second-line {
    display: flex;
    justify-content: space-between; /* Fordeler pladsen ligeligt mellem elementerne */
    width: 100%;
    padding: 1 0.5rem 1rem; /* Tilføjer lidt indre margin for at centrere teksten bedre */
  }

  .content img {
    max-width: 100%; /* Sørg for, at billedet ikke overstiger containerens bredde */
    height: auto; /* Behold billedets proportioner */
    margin-bottom: 1rem; /* Tilføj lidt afstand under billedet */
    margin-top: 4rem; /* Ryk billedet lidt ned */
  }

  .content {
    text-align: center; /* Centrerer indholdet */
    padding: 2rem; /* Tilføjer polstring omkring indholdet */
    display: grid; /* Brug CSS-grid til layout */
    grid-template-columns: 1fr; /* Én kolonne som standard */
  }

  .content img {
    max-width: 100%; /* Sørg for, at billedet ikke overstiger containerens bredde */
    height: auto; /* Behold billedets proportioner */
    margin-bottom: 1rem; /* Tilføj lidt afstand under billedet */
  }

  .content h1 {
    font-size: 1.2rem; /* Juster størrelsen af overskriften */
    margin-bottom: 2rem; /* Tilføj lidt afstand under overskriften */
  }

  .content h3 {
    font-size: 1rem;
  }

  .content h4 {
    text-align: left;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  .content p {
    font-size: 1rem; /* Juster størrelsen af teksten */
    margin-bottom: 1rem; /* Tilføj lidt afstand under hver afsnit */
    text-align: left;
    padding: 1 0.5rem 1rem;
  }

  @media (min-width: 768px) {
    .content {
      grid-template-columns: 1fr 1fr; /* To kolonner på desktop */
      align-items: start; /* Justerer starten af rækkerne */
    }

    .content img {
      grid-column: 1 / span 1; /* Billedet spænder over en kolonne */
      grid-row: 1 / span 2; /* Billedet spænder over to rækker */
    }

    .first-line,
    .second-line {
      grid-column: 2 / span 1; /* Tekstspænding over en kolonne */
    }

    .content h4 {
      grid-column: 1 / span 2; /* Overskriften spænder over to kolonner */
    }

    .text-section {
      padding-top: 5rem;
      padding: 5rem;
    }
  }
</style>
