---
import "../css/style.css";
const { imageSrc, title1, title2, address, date, title, color, reverse } = Astro.props;
---

<div class="exhibition-card">
  <div class={`container ${color} ${reverse ? "reverse" : ""}`}>
    <div class="imagecontainer" style={`background-image: url(${imageSrc})`}></div>
    <div class="text">
      <div class="textspace">
        <div class="container4">
          <overskrift>{title1}</overskrift>
        </div>
        <div class="container2">
          <underoverskrift>{title2}</underoverskrift>
        </div>
        <div class="container3">
          <description>{title}</description>
        </div>
      </div>
      <div class="container5">
        <date>{date}</date>
        <address>{address}</address>
      </div>
    </div>
  </div>
</div>

<style>
  .container {
    place-content: center;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    height: 100svh;
    padding-left: 15px;
    padding-right: 15px;
  }

  .imagecontainer {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  img {
    object-fit: cover;
  }

  .green {
    background-color: #c6d2d2;
  }

  .pink {
    background-color: #f5f5f5;
  }

  .beige {
    background-color: #c9bbb8;
  }

  .reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .reverse .text {
    order: 1;
    text-align: left;
  }

  .container2 {
    margin-bottom: 10px;
  }

  .container4 {
    margin-bottom: 20px;
  }

  .exhibition-card {
    scroll-snap-align: center;
  }

  .text overskrift {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
  }

  /* Styling for underoverskrift */
  .text underoverskrift {
    font-family: karla;
    font-weight: bold;
    font-size: 25px;
  }

  .text description {
    font-family: karla;
    font-size: 17px;
    line-height: 2.6;
    margin-bottom: 20px;
    display: block;
  }

  @media (min-width: 1200px) {
    .reverse .imagecontainer {
      order: 2;
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .container {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 20px;
    }

    .reverse {
      grid-template-columns: 50% 50%;
      flex-direction: row;
    }

    .exhibition-card {
      padding-top: 0;
    }
    .container3 {
    }

    .container4 {
      margin-bottom: 50px;
    }
  }
</style>
