---
import "../css/style.css";
const { data } = Astro.props;
---

<div class="singleview-card">
  {`shop/${data.slug}`}
  <div class="img"><img src={imageSrc} /></div>
  <div class="container">
    <img src={data.Image} />
    <h2>{data.Name}</h2>
    <h2>{data.Price}</h2>
    <p>{data.Format}</p>
    <button onclick="handleButtonClick()">Køb nu</button>
    <p>{data.Describtion}</p>
  </div>

  <style></style>

  <script>
    function handleButtonClick() {
      console.log("Knappen blev klikket");
      // Tilføj din logik her, fx navigation eller tilføjelse til kurv
    }
  </script>
</div>
