---
import Buttons from "./Buttons.astro";
const { data } = Astro.props;
---

<article>
  <div>
    <div class="tekst">
      <h3>{data.title}</h3>
      <p>{data.subtitles}</p>
      {data.lillebillede && <img class="lillebillede" src={data.lillebillede} alt="Lille billede" />}
      {
        data.button && (
          <a class="knapforside" href="/about">
            {data.button}
          </a>
        )
      }
    </div>
  </div>
  <div class="bigImgContainer">
    <img src={data.cardImages} alt="Card billede" />
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
    padding-inline: 20px;
  }

  article div {
    /* order: 1; */
    justify-content: end;
  }

  article img.stort-billede {
    height: 600px;
    width: 50%;
    object-fit: cover;
  }

  h3 {
    margin: 10px 0;
  }

  p {
    margin: 10px 0;
  }

  .knapforside {
    font-family: karla;
    padding: 0.5rem 2rem; /* Tilføj polstring til knappen */
    background-color: transparent; /* Gennemsigtig baggrundsfarve */
    color: black; /* Tekstfarve for knappen */
    border: 1px solid black; /* Ydre streg */
    cursor: pointer; /* Gør cursoren til en pil, når der holdes over knappen */
    transition:
      background-color 0.3s,
      color 0.3s;
    display: inline-block;
    margin-top: 20px;
  }

  .knapforside:hover {
    background-color: #e7d9d9; /* Baggrundsfarve, når der holdes over */
    color: black; /* Tekstfarve, når der holdes over */
  }

  /* Mobil styling */
  @media (max-width: 768px) {
    .lillebillede {
      display: none;
    }

    p {
      font-size: 18px;
    }

    h3 {
      font-size: 24px;
    }

    .bigImgContainer {
      order: -1;
    }
  }

  /* Desktop styling */
  @media (min-width: 769px) {
    .tekst p {
      font-size: 18px;
    }

    .tekst h3 {
      font-size: 24px;
    }

    article {
      flex-direction: row;
    }

    article:nth-child(odd) .bigImgContainer {
      order: -1;
    }

    article > div {
      width: 50%;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    article div {
      /* display: flex;
      flex-direction: column;
      align-self: start;
      order: -1; */
    }

    article:nth-child(even) div {
      order: -1;
    }

    .lillebillede {
      display: block;
      /* max-width: 200px; */
      margin: 10px 0;
    }
    .tekst {
      max-width: 200px;
    }

    img[src*="data.cardImages"] {
      flex: 2;
    }
  }
</style>
