---
import WorkCardButton from "./WorkCardButton.astro";
const { data } = Astro.props;
---

<article>
  <div>
    <h3>{data.title}</h3>
    <p>{data.subtitles}</p>
    <img class="lillebillede" src={data.lillebillede} alt="Lille billede" />
  </div>
  <div>
    <img src={data.cardImages} alt="Card billede" />
  </div>
  
</article>

<style>
  /* Generel styling */
  article {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  article div {
    display: flex;
    flex-direction: column;
  }

  h3 {
    margin: 10px 0;
  }

  p {
    margin: 10px 0;
  }

  /* Mobil styling */
  @media (max-width: 768px) {
    .lillebillede {
      display: none;
    }
  }

  /* Desktop styling */
  @media (min-width: 769px) {
    article {
      flex-direction: row;
    }

    article>div {
      width: 50%;
      margin-right: 20px;
    }

    .lillebillede {
      display: block;
      max-width: 100px;
      margin: 10px 0;
    }

    img[src*="data.cardImages"] {
      flex: 2;
    }
  }
</style>

<!-- ---
import WorkCardButton from "./WorkCardButton.astro";
const { data } = Astro.props;
---

<article>
  <div>
    <h3>{data.title}</h3>
    <p>{data.subtitles}</p>
    <img class="lillebillede" src={data.lillebillede} alt={data.lillebillede} />
  </div>
  <img src={data.cardImages} alt={data.cardImages} />
</article>
 -->

<!-- <style>
  .lillebillede {
    width: 50%;
    padding-left: 10px;
    display: none;
  }

  h3 {
    font-size: 2.2rem;
    padding: 10px;
  }

  p {
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 130px;
  }

  @media (min-width: 768px) {
    article {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
    div {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    .lillebillede {
      width: 50%;
      display: block;
    }

    h3 {
      font-size: 1rem;
    }

    p {
      font-size: 0xs.8rem;
    }
  }
</style> -->
